/* Styles */

:root {
  --background-color: #fafafa;
  --font-color: #4d4f62;
  --font-weight-thin: 200;
  --font-weight-regular: 400;
  --font-weight-bold: 600;
  --step-heading-0: clamp(1.5rem, calc(1.24rem + 1.13vw), 2.25rem);
}

body {
  background-color: var(--background-color);
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: var(--font-color);
}

.container {
  margin-inline: 2rem;
}

.features {
  margin-block: 5.32rem 4.75rem;
}

.features__heading {
  line-height: 2.25rem;
}

.features__heading-thin {
  font-weight: var(--font-weight-thin);
  font-size: var(--step-heading-0);
}

.features__heading-bold {
  font-weight: var(--font-weight-bold);
  font-size: var(--step-heading-0);
}

.features__description {
  line-height: 25px;
  margin-top: 0.75rem;
  font-size: 0.95rem;
  font-weight: var(--font-weight-thin);
}

.cards {
  margin-inline: auto;
  max-width: 1110px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 1.55rem;
  justify-items: center;
  grid-template-areas:
    'supervisor'
    'teambuilder'
    'karma'
    'calculator';
}

@media (min-width: 960px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'supervisor teambuilder calculator'
      'supervisor karma calculator';
  }
}

.cards__cardContainer {
  padding: 1.75rem;
  max-width: 350px;
  height: 222px;
  text-align: left;
  background-color: #ffffff;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  border-radius: 0.5rem;

  display: flex;
  flex-flow: column wrap;
}

.supervisor {
  border-top: 0.22rem solid #00c8c8;
  grid-area: supervisor;
  align-self: center;
}

.teamBuilder {
  border-top: 0.22rem solid #ff637b;
  grid-area: teambuilder;
}

.karma {
  border-top: 0.22rem solid #fcae4a;
  grid-area: karma;
}

.calculator {
  border-top: 0.22rem solid #549ef2;
  grid-area: calculator;
  align-self: center;
}

.card__heading {
  font-size: 1.25rem;
  font-weight: var(--font-weight-bold);
}

.card__description {
  font-size: 0.8125rem;
  font-weight: var(--font-weight-thin);
  margin-top: 0.5rem;
  margin-bottom: auto;
}

.card__icon {
  margin-left: auto;
}

footer {
  margin-top: 5rem;
}
